* {
  box-sizing: border-box;
}

body {
  margin: 20;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 15px;
}

/* Create two equal columns that floats next to each other */
.column {
  text-align: center;
  float: left;
  width: 100%;
  padding: 5px;
}

.column img {
  margin-top: 5px;
}

.row {
  text-align: center;
  float: left;
  width: 100%;
  padding: 5px;
}


figure {
  margin: auto;
  padding: 1px;
  display: inline-block;
  
}
figure:hover {border-color: #999; background: rgba(0,0,0,.05); }
figure > * { margin: 0 auto 0.55em; display:block;}

figcaption {
  color: black;
  padding: 1px;
  text-align: center;
}

a {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin: 0 auto;
}

a:hover {
background-color: #ddd;
color: black;
}


a:hover {
  background-color: #2e0af7; 
  color: #07f7eb;
  color: #2beb05;
  color: #f5a105;
  color: #f54905;
  color: #f01307;
  color: black;
  }

a.clickable {
  padding: 0 0;
  color: #12aad8;
  text-decoration: underline;
}


.first {
  background-color: #f3f3f3;
  color: rgb(177, 177, 177);
}

.previous {
background-color: #e0dfdf;
color: #666;
}

.next {
background-color: #e0dfdf;
color: #666;
}

.last {
  background-color: #f3f3f3;
  color: rgb(177, 177, 177);
}

.round {
border-radius: 50%;
}

.current{
background-color: #00a1d6;
color: white;
}

.text_index{
  color: #666;
}

.searchbox{
  text-align: center;
	border-radius: 20px;
	position: absolute;
  margin: auto;
	transform: translate(15%, 0%);
  bottom: 0;
  right: 15%;
}

.navigator{
	text-align: center;
	border-radius: 20px;
	position: relative;
	margin: auto;
	transform: translate(0%, -50%);
}


input[type=text] {
  padding: 4px 4px;
  margin: 2px 2px;
  box-sizing: border-box;
  padding-left: 16px;
}

input[type=text]:focus {
  border: 3px solid #555;
}

.buttonjump {
  background-color: #555555; /* Green */
  border: none;
  color: white;
  padding: 4px 4px;
  margin: 2px 2px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
}
.buttonjump:hover {
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 6px 8px 0 rgba(0,0,0,0.19);
}

.buttonreset {
  background-color: #e7e7e7; /* Green */
  border: none;
  color: black;
  padding: 4px 4px;
  margin: 2px 2px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
}
.buttonreset:hover {
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 6px 8px 0 rgba(0,0,0,0.19);
}

.fail h1{
  color: red;
  padding: 60px 0 60px 0;
  text-align: center;
}